<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Basic Page</title>
</head>
<body>
    <h1>Welcome to the Basic Page</h1>
    <p>This is a simple HTML page.</p>
    <p><%= data %></p>
</body>
<style>
    body {
        font-family: Arial, sans-serif;
        margin: 20px;
        color: #cbee1c;
        background-color: black;
    }
    h1 {
        color: #643434;
    }
    p {
        font-size: 18px;
        color: #40738c;
    }
</style>
</html>